<!DOCTYPE html>
<html>
<style>
button#edit {
  background-color: green;
  border: none;
  color: white;

}

button#add {
  background-color: #4CAF50;
  border: none;
  color: white;


}
button#delete {
  background-color: red;
  border: none;
  color: white;

}
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h1><u><b>Effort Tracking</b></u></h1>

<a href="/edit/0"><button id="add" class="btn btn-primary">Add a new post</button></a>
<hr>
<h1>Edit Posts</h1>
<table style="width:100%">
  <tr>
    <th>sno</th>
    <th>firstname</th>
    <th>lastname</th>
    <th>subject</th>
    <th>date</th>
    <th>edit</th>
    <th>delete</th>
  </tr>

  {% for post in mydata %}
  <tr>
    <td>{{ post.sno }}</td>
    <td>{{ post.firstname }}</td>
    <td>{{ post.lastname }}</td>
    <td>{{ post.subject }}</td>
    <td>{{ post.date }}</td>
    <td><a href="/edit/{{post.sno}}"><button id="edit" class="btn btn-primary">Edit</button></a></td>
    <td><a href="/effortdelete/{{post.sno}}"><button id="delete" class="btn btn-primary">Delete</button></a></td>

  </tr>
  {% endfor %}
</table>



</body>
</html>

